@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

nav {
    font-family: 'Libre Caslon Display', serif;
    border-bottom: solid 1px lightgray;
    background-color: white;
}
a.navbar-brand {
    font-size: 40px;
    color: black;
    position: relative;
    left: 60px;
}
svg{
    margin-bottom: 9px;
}
a.shopping-bag {
    color: black;
}
span.shopping-bag {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 10px;
}
a.shopping-bag:hover {
    text-decoration: none;
    color: gray;
}

@media only screen and (max-width: 548px) {
    a.navbar-brand {
        font-size: 25px;
        left: 40px;
    }
    a.shopping-bag{
        font-size: 12px;
    }
}