@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;653&display=swap');

div.promotion{
    background-color: black;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}