<div class="container">

    <div class="row">
        <h1>SHIPPING OPTIONS:</h1>
    </div>
    <div class="row">
        <p>STANDARD SHIPPING</p>
    </div>
    <div class="row">
        <p>$5.99 (12-15 business days)</p>
    </div>
    <div class="row">
        <p>EXPRESS SHIPPING</p>
    </div>
    <div class="row">
        <p>$14.99 (2-3 business days)</p>
    </div>
    <div class="row">
        <p>NEXT DAY SHIPPING</p>
    </div>
    <div class="row">
        <p>$24.99 (1-2 business days)</p>
    </div>
    <div class="row">
        <h1>RETURNS:</h1>
    </div>
    <div class="row">
        <p>Free in-store returns</p>
    </div>
    <div class="row">
        <p>Return with USPS ($5.99)</p>
    </div>
    <div class="row">
        <h1>WE ACCEPT:</h1>
    </div>
    <div class="row images">
        <img src="../../../assets/payment-ops/discover.jpg" height="30px" alt="">
        <img src="../../../assets/payment-ops/amex.jpg" height="30px" alt="">
        <img src="../../../assets/payment-ops/mastercard.jpg" height="30px" alt="">
        <img src="../../../assets/payment-ops/paypal.jpg" height="30px" alt="">
        <img src="../../../assets/payment-ops/visa.jpg" height="30px" alt="">
    </div>

</div>